<script setup lang="ts">
import { type Product } from '@/type/Product'
const props = defineProps<{
    product: Product
}>()
const emit = defineEmits<{
    selectedProduct: [Product]
}>()
const selected = function() {
    emit('selectedProduct', props.product)
}
</script>
<template>
    <v-sheet width="150" height="150" elevation="3" @click="selected">
        <v-img :src="`./img/coffees/product${product.id}.jpg`" height="120" cover></v-img>
        <div style="text-align: center;">{{ product.name }} {{ product.price }} บาท</div>
    </v-sheet>
</template>